@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Open+Sans+Condensed:300,700&subset=latin-ext');

body {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	position: absolute;
	overflow-x: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
}

.flexcolumn {
	flex-direction: column;
}

.hide {
	display: none;
}

.fadeout {
	animation: fadeOut .4s;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fadein {
	animation: fadeIn .4s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

header {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	position: relative;
}

.headerpic {
	background-image: url(../images/schoolpic.jpg);
	background-size: cover;
	background-position: 0 50%;
	z-index: 3;
}

.headerpic:before {
	content: "";
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    margin: 0;
    height: 20vh;
    position: absolute;
    z-index: 4;
}

.heading {
	display: flex;
	flex-direction: column;
	z-index: 5;
}

h1, h2, h4 {
	margin: 0;
	padding: 5px 0;
}

h1 {
	font-family: Lato, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
	color: #F7F7F7;
}

h2 {
	font-family: Lato, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
	color: #F7F7F7;
}

h4 {
	font-family: Lato, sans-serif;
    letter-spacing: 1px;
	color: #ffd228;
	letter-spacing: 1px;
}

h5 {
	font-family: Lato, sans-serif;
	font-size: 0.6em;
    letter-spacing: 1px;
    text-transform: uppercase;
	color: #F7F7F7;
	margin: 10px 0;
}

section {
	width: 100%;
}

p {
	padding: 20px;
}

.title {
	padding: 30px 0;
}

/*----------------------BUTTONS----------------------*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.news {	
	background: #969696; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #969696, #525252); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #969696, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.crew {
	background: #5A5D54; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #5A5D54, #1F211D); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #5A5D54, #1F211D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.projects {
	background: #403D3F; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #403D3F, #161516); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #403D3F, #161516); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.funds {
	background: #B7B1B1; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #B7B1B1, #887E7E); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #B7B1B1, #887E7E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.insurance {
	background: #383F42; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #383F42, #141617); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #383F42, #141617); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.download {
	background: #8E8871; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #8E8871, #453B28); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #8E8871, #453B28); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.btn {
	padding: 10px;
    width: 250px;
    height: 250px;
    margin: 10px 10px;
    font-family: Lato black, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px #6f6f6f78;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    -webkit-transition: all 2.35s ease-in-out;
  	-moz-transition: all 2.35s ease-in-out;
  	transition: all 2.35s ease-in-out;*/
  	border: none;
}

.btn:hover {
	cursor: pointer;
}

.btn:focus {
	outline: none;
	background: #80808054;
    color: #616161;
}

.icon {
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	transition: all 0.4s ease-in-out;
}

.btn:hover .icon {
  	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}



/*----------------------VERTICAL mENU----------------------*/

.horizontalmenu {
	position: absolute;
    top:0%;
    width: 100%;
    height: 7vh;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-top: 1px solid white;
    z-index: -1;
}

.icons {
	display: flex;
    flex-direction: row;
    height: 7vh;
}

.menuicon {
	width: 100%;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.mainmenu {
	margin: 7vh auto;
}

.menubtn h5 {
	font-size: 0.8em;
	letter-spacing: 2px;
}

/*----------------------CONTENT----------------------*/

.contenttitle h1{
	margin: 48px 0 48px 0;
	color: #777777;
}

.contentnews, .contentcrew, .contentprojects, .contentfunds, .contentinsurance, .contentdownload {
	display: none;
	flex-direction: column;
	height: auto;
	width: 100%;
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	transition: all 0.4s ease-in-out;
  	position: absolute;
  	top: 258px;
}


/*----------------------CONTENT - NEWS ----------------------*/
/*----------------------CONTENT - CREW ----------------------*/

.contentcrew .container {
	flex-direction: column;	
}

.people {
	display: flex;
}

.personbox {
	background-color: white;
	display: flex;
	flex-direction: column;
    flex: 1;
    border: 1px solid #e8e8e8;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin: 2%;
    padding: 20px 0;
    box-shadow: 0px 3px 7px #cacaca;
}

.avatar {
    margin: 18px 0;
    background-position: center 0;
    background-repeat: no-repeat;
}

.personbox figcaption {
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.personbox .personaldata {
	display: flex;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.personbox .personaldata h3 {
	padding: 0 5px;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

/*----------------------CONTENT - PROJECTS ----------------------*/
/*----------------------CONTENT - FUNDS ----------------------*/

.contentfunds {
	display: none;
	height: auto;
	flex-direction: column;
}

.contentfunds .container {
	flex-direction: column;	
}

.fundsdata {
	display: flex;
}

.fundshigh, .transferdata {
	flex: 1;
	padding: 0 40px;
}

.fundsdata ul {
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.fundsdata ul li {
	line-height: 32px;
}

.transferdata {

}

.transferdata h2, .fundsdata h2 {
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.transferdata h3, .fundsdata h3 {
	padding: 0 5px;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.transferdata p, .fundsdata p {
	text-align: center;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

/*----------------------CONTENT - INSURANCE ----------------------*/
/*----------------------CONTENT - DOWNLOAD ----------------------*/


















/*----------------------FOOTER----------------------*/



.contactform {
	display: none;
    flex-direction: column;
    align-items: left;
    background-color: #d4d4d4;	
}

.contact {
	background-color: #fffffff5;
	flex:1;
}

.contactform .container {
	display: flex;
	flex-direction: column;
}

.contactform h1 {
	color: #404040;
	padding: 10px 0;
    font-size: 2em;
}

form {
	padding: 20px;
}

form .row {
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	margin: 20px 0
}

form label, form button {
    font-size: 1em;
    font-family: Opensans, sans-serif;
    letter-spacing: 2px;
    color: #044040;
    text-align: left;
    margin: 5px 0;
}

form input, form textarea {
	width: 50%;
    flex: 1;
    line-height: 30px;
    border: 1px solid #044040;
    background: none;
    color: #044040;
    font-family: Lato, sans-serif;
    font-size: 0.8em;
	padding-left: 5px;
	letter-spacing: 1px;
	outline: none;
}

textarea {
  outline: none;
  overflow: auto;
}

form .sendbutton {
	padding: 15px;
	color: #044040;
	background: none;
	border: 1px solid #044040;
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	transition: all 0.4s ease-in-out;
}

form .sendbutton:hover {
	background: #006180;
	color: #ffffff;
	border: 1px solid #006180;
}


.resize {
	width: 100%;
	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}

.newscontent {
	flex: 1;
}

