@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Open+Sans+Condensed:300,700&subset=latin-ext');

body {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	position: absolute;
	overflow-x: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
}

.flexcolumn {
	flex-direction: column;
}

button {
	border: none;
	outline: none;
}

.button {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 50%;
    padding: 15px;
    color: #505050;
    background: none;
    border: 1px solid #848484;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
}

.button:hover {
	background: #e0a419a1;
    color: #313131;
    border: 1px solid #e0a419a1;
}

.hide {
	display: none;
}

.fadeout {
	animation: fadeOut .2s;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fadein {
	animation: fadeIn .8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

header {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	position: relative;
}

.headerpic {
	background-image: url(../images/schoolpic.jpg);
	background-size: cover;
	background-position: 0 50%;
	z-index: 3;
}

.headerpic:before {
	content: "";
    background-color: rgba(0, 0, 0, 0.36);
    width: 100%;
    margin: 0;
    height: 20vh;
    position: absolute;
    z-index: 4;
}

.heading {
	display: flex;
	flex-direction: column;
	z-index: 5;
}

h1, h2, h4 {
	margin: 0;
	padding: 5px 0;
}

h1 {
	font-family: Lato, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
	color: #F7F7F7;
}

h2 {
	font-family: Lato, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
	color: #F7F7F7;
}

h4 {
	font-family: Lato, sans-serif;
    letter-spacing: 1px;
	color: #ffd228;
	letter-spacing: 1px;
}

h5 {
	font-family: Lato, sans-serif;
	font-size: 0.6em;
    letter-spacing: 1px;
    text-transform: uppercase;
	color: #F7F7F7;
	margin: 10px 0;
}

/*section {
	width: 100%;
}*/

p {
	padding: 20px;
}

.title {
	padding: 30px 0;
}

.hamburgermenu {
	display: none;
}

/*----------------------MAIN MENU----------------------*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.news {	
	background: #969696; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #969696, #525252); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #969696, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.crew {
	background: #5A5D54; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #5A5D54, #1F211D); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #5A5D54, #1F211D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.projects {
	background: #403D3F; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #403D3F, #161516); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #403D3F, #161516); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.funds {
	background: #B7B1B1; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #B7B1B1, #887E7E); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #B7B1B1, #887E7E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.insurance {
	background: #383F42; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #383F42, #141617); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #383F42, #141617); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.download {
	background: #8E8871; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #8E8871, #453B28); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #8E8871, #453B28); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact {
	background: #333333; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #333333, #274046); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #333333, #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.btn {
	padding: 10px;
    width: 250px;
    height: 250px;
    margin: 10px 10px;
    font-family: Lato black, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px #6f6f6f78;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .2s ease-in;
  	-moz-transition: all .2s ease-in;
  	transition: all .2s ease-in;
  	border: none;
}

.btn:hover {
	cursor: pointer;
}

.btn:focus {
	outline: none;
	background: #80808054;
    color: #616161;
}

.icon {
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	transition: all 0.4s ease-in-out;
}

.btn:hover .icon {
  	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


/*----------------------HORIZONTAL MENU----------------------*/

.horizontalmenu {
	position: absolute;
    top:0%;
    width: 100%;
    height: 7vh;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-top: 1px solid white;
    z-index: -1;
}

.icons {
	display: flex;
    flex-direction: row;
    height: 7vh;
}

.menuicon {
	width: 100%;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.menuicon h5 {
	font-size: 0.8em;
	letter-spacing: 1px;
	font-family: Lato, sans-serif;
}

.menuicon:hover h5 {
	color: #ffd228;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menuicon:focus h5 {
	color: #ffd228;
}

.mainmenu {
	margin: 7vh auto;
}

/*----------------------CONTENT----------------------*/

.contenttitle {
	flex: 1;
}

.contenttitle h1{
	margin: 48px 0 48px 0;
	color: #777777;
}

.contentnews, .contentcrew, .contentprojects, .contentfunds, .contentinsurance, .contentdownload, .contentcontact {
	display: none;
	flex-direction: column;
	height: auto;
	width: 100%;
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	transition: all 0.4s ease-in-out;
  	position: absolute;
  	top: 258px;
}


/*----------------------CONTENT - NEWS ----------------------*/
/*----------------------CONTENT - CREW ----------------------*/

.contentcrew .container {
	flex-direction: column;	
}

.people {
	display: flex;
}

.personbox {
	background-color: white;
	display: flex;
	flex-direction: column;
    flex: 1;
    border: 1px solid #e8e8e8;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin: 2%;
    padding: 20px 0;
    box-shadow: 0px 3px 7px #cacaca;
}

.avatar {
    margin: 18px 0;
    background-position: center 0;
    background-repeat: no-repeat;
}

.personbox figcaption {
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.personbox .personaldata {
	display: flex;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.personbox .personaldata h3 {
	padding: 0 5px;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

/*----------------------CONTENT - PROJECTS ----------------------*/
/*----------------------CONTENT - FUNDS ----------------------*/

.contentfunds {
	display: none;
	height: auto;
	flex-direction: column;
}

.contentfunds .container {
	flex-direction: column;	
}

.fundsdata {
	display: flex;
}

.fundshigh, .transferdata {
	flex: 1;
	padding: 0 40px;
}

.fundsdata ul {
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.fundsdata ul li {
	line-height: 32px;
}

.transferdata h2, .fundsdata h2, .adressdata h2 {
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.transferdata h3, .fundsdata h3, .adressdata h3 {
	padding: 0 5px;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.transferdata p, .fundsdata p, .adressdata p {
	text-align: center;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
}

/*----------------------CONTENT - INSURANCE ----------------------*/
/*----------------------CONTENT - DOWNLOAD ----------------------*/

.contentdownload {
	display: none;
	height: auto;
	flex-direction: column;
}

.contentdownload .container{
	flex-direction: column;
}

.files {
	display: flex;
}

.filebox {
	background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #e8e8e8;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 20px 0;
    box-shadow: 0px 3px 7px #cacaca;
    text-align: center;
}

.pdficon {
	flex:1;
}

.filebox figcaption {
	flex: 1;
	font-family: Lato, sans-serif;
	color: #777777;
	font-size: 0.9em;
	letter-spacing: 1px;
	padding: 10px 20px;
}

.filebox a {
	text-decoration: none;
	font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
}

.linkbutton {
	flex: 1;
	width: 50%;
}




/*----------------------CONTENT - CONTACT ----------------------*/

.contentcontact {
	display: none;
	height: auto;
	flex-direction: column;
}

.contactbox {
	display: flex;
	align-items: center;
}

.contentcontact .container {
	display: flex;
	flex-direction: column;
}

.contactform {
	display: flex;
    flex: 1;
    padding: 0 20px;
}

.contactform h1 {
	color: #404040;
	padding: 10px 0;
    font-size: 2em;
}

form {
	flex: 1;
}

form .row {
	display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 0;
}

form label, form button {
    font-size: 1em;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    color: #044040;
    text-align: left;
    margin: 5px 0;
}

form input, form textarea {
    flex: 1;
    line-height: 30px;
    border: 1px solid #848484;
    background: none;
    color: #044040;
    font-family: Lato, sans-serif;
    font-size: 0.8em;
	padding-left: 5px;
	letter-spacing: 1px;
	outline: none;
}

textarea {
  outline: none;
  overflow: auto;
}

.adresswrapper {
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
}

.adressdata {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 45px 0 30px 0;
}

.adressdata p {
	margin: 0;
	padding: 0;
}

/*----------------------FOOTER----------------------*/


/*----------------------SMALLER SCREENS----------------------*/
/*----------------------DIFFERENT RESOLUTIONS----------------------*/

@media screen and (max-width: 480px) {
  
body {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	position: absolute;
	overflow-x: auto;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	display: flex;
}	

header {
	height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.headerpic:before {
	height: 17vh;
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
	flex: 1;
}

.heading h2, .heading h4  {
	flex: 1;
}

.heading h2 {
	font-size: 0.8em;
	text-align: center;
}

.heading h4 {
	font-size: 0.6em;
	padding: 20px 0 0 0;
}

.button {
    width: 100%;
    text-align: center;
}

/*----------------------hamburger MENU----------------------*/

.hamburgermenu {
	display: flex;
	flex: 1;
    width: 100%;
    z-index: 25;    
    justify-content: center;
    align-items: center;
}

.hamburger {
	display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid #929292;
    border-radius: 3px;
    cursor: pointer;
    z-index: 26;
}

/*----------------------HORIZONTAL MENU----------------------*/

.horizontalmenu {
	display: none;
    position: relative;
    top: 17vh;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-top: 1px solid white;
    z-index: 1;
}

.icons {
	display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
}

.menuicon {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.mainmenu {
	margin: 7vh auto;
}

.menubtn h5 {
	font-size: 0.8em;
	letter-spacing: 2px;
}

.rollup {

}


/*----------------------MAIN MENU----------------------*/

.mainmenu {
	display: none;
}

/*----------------------CONTENT----------------------*/

.contenttitle {
	flex: 1;
	padding: 0 28px;
}

.contenttitle h1{
	text-align: center;
	font-size: 1.2em;
	padding: 0 28px;
}

.contentnews, .contentcrew, .contentprojects, .contentfunds, .contentinsurance, .contentdownload, .contentcontact {
  	top: 150px;
    margin-bottom: 100px;
}

/*----------------------CONTENT - CREW ----------------------*/

.contentcrew .container {
	flex-direction: column;	
}

.people {
	flex-direction: column;
}


/*----------------------CONTENT - FUNDS ----------------------*/

.fundsdata {
	display: flex;
	flex-direction: column;
}

.transferdata h2, .fundsdata h2, .adressdata h2 {
	text-align: center;
}

/*----------------------CONTENT - DOWNLOAD ----------------------*/

.contentdownload {
	display: none;
	height: auto;
	flex-direction: column;
}

.contentdownload .container{
	flex-direction: column;
}

.files {
	display: flex;
	flex-direction: column;
}

.filebox {
  	margin: 3% 5%;
}

.linkbutton {
	width: 100%;
}


/*----------------------CONTENT - CONTACT ----------------------*/

.contactbox {
	flex-direction: column;
}

.contentcontact .container {
	flex-direction: column;
}

.contactform {
    width: 100%;
}

form {
	flex: 1;
	padding: 0 28px;
}

}